body {
  background-color: orange;
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#nav_tabs {
  background-color: #222222;
  display: flex;
  justify-content: space-around;
}

.register_panel {
  background-color: beige;
  padding: 20px;
}

.register_form {
  display: flex;
  flex-direction: column;

}

.routine_list {
  margin: 10px;
}

.routine_item {
  background-color: beige;
  padding: 10px;
  margin: 5px;
  border: solid black 2px;
}

.activity_tab {
  background-color: beige;
  padding: 10px;
  margin: 5px;
  border: solid black 2px;
}

.activity_item {
  margin: 5px;
  border-bottom: solid black 2px;

}